/* You can add global styles to this file, and also import other style files */
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';
 
@import 'mdb-angular-ui-kit/assets/scss/mdb.scss';

.my-container {
  margin: 5% !important
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

.mt-10 {
  margin-top: 10%;
}

.mt-20 {
  margin-top: 20px;
}